In [9]:
from tpot import TPOTClassifier
from tpot import TPOTRegressor
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.mode.chained_assignment = None
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import KFold
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import KFold
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler

In [21]:
# in this notebook, we'd like to predict the label 'romana final'
# this is a regression problem, because our label is a continuos value
df = pd.read_csv('note.csv')

df = df.reset_index()

X = df.drop(['index','judet8','scoala','media la admitere','media teze nationale', 'nume', 'materna oral','materna nota',
             'materna contestatie','materna final',
            'disciplina profil nota', 'disciplina profil contestatie', 'optional nota', 'optional contestatie',
            'media','rezultatul final','romana contestatie','romana final','romana nota','pozitia in ierarhie pe tara',
            'pozitia in ierarhie pe judet','limba materna8 nota', 'unitatea de invatamant','judetul','limba materna'],
            
            axis=1)
Y = df[['romana final']]

In [22]:
X['limba moderna nota'].fillna(4.0, inplace=True)#grade 4.0(highest grade) for those who have a language exam

In [23]:
for i,c in enumerate(X.columns):
        if X[c].dtype == 'object':
            lbl = LabelEncoder()
            lbl.fit(list(X[c].values))
            X[c] = lbl.transform(list(X[c].values)) 
X.head()

,media de absolvire,nota la limba romana,nota la matematica,optional8,optional8 nota,limba materna8,promotie anterioara,forma invatamant,specializare,romana oral,limba moderna,limba moderna nota,disciplina profil,disciplina profil final,optional,optional final,competente digitale
0,9.54,8.17,9.45,0,9.70,0,1,3,43,2,0,424,2,3.30,0,6.60,0
1,9.62,8.30,8.00,0,9.60,0,1,3,43,2,0,436,2,1.55,0,7.55,4
2,9.52,7.62,6.97,0,9.10,0,1,3,43,2,0,359,2,2.30,0,6.70,4
3,8.51,7.30,7.95,0,9.40,0,1,3,43,0,0,162,2,3.85,0,6.30,4
4,8.89,6.40,8.72,1,8.07,0,1,3,43,0,0,173,2,3.65,0,8.60,0

In [24]:
for i,c in enumerate(Y.columns):
        if Y[c].dtype == 'object':
            lbl = LabelEncoder()
            lbl.fit(list(Y[c].values))
            Y[c] = lbl.transform(list(Y[c].values)) 
Y.head()

   romana final
0          5.30
1          7.70
2          7.20
3          5.00
4          6.95

In [25]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state = 40) #same seed to compare results

In [29]:
tpot = TPOTRegressor(verbosity=2, max_time_mins=5)
tpot.fit(X_train, Y_train)
print(tpot.score(X_test, Y_test))

Warning: xgboost.XGBRegressor is not available and will not be used by TPOT.

SEJveChjaGlsZHJlbj0oSW50UHJvZ3Jlc3ModmFsdWU9MCwgZGVzY3JpcHRpb249dSdPcHRpbWl6YXRpb24gUHJvZ3Jlc3MnLCBzdHlsZT1Qcm9ncmVzc1N0eWxlKGRlc2NyaXB0aW9uX3dpZHTigKY=

7.36273333333 minutes have elapsed. TPOT will close down.
TPOT closed during evaluation in one generation.
WARNING: TPOT may not provide a good pipeline if TPOT is stopped/interrupted in a early generation.


TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: ExtraTreesRegressor(input_matrix, bootstrap=False, max_features=0.45, min_samples_leaf=4, min_samples_split=16, n_estimators=100)
-1.2726847812870152

In [27]:
X_train.head()

,media de absolvire,nota la limba romana,nota la matematica,optional8,optional8 nota,limba materna8,promotie anterioara,forma invatamant,specializare,romana oral,limba moderna,limba moderna nota,disciplina profil,disciplina profil final,optional,optional final,competente digitale
1944,9.96,9.82,9.05,0,9.92,2,1,3,9,2,0,608,1,8.90,11,9.10,2
7578,9.46,7.55,7.57,0,8.40,0,1,3,15,2,0,383,2,5.45,0,9.45,4
8901,7.68,5.57,7.27,0,7.90,0,1,3,44,0,0,388,2,2.00,9,6.05,3
9695,9.57,7.42,8.25,0,8.90,0,1,3,6,2,0,608,0,10.00,9,9.25,2
10111,9.50,8.45,6.55,0,9.50,0,1,3,14,2,0,608,0,10.00,14,10.00,2

In [28]:
Y_train.head()

       romana final
1944           9.20
7578           8.65
8901           3.95
9695           9.20
10111          9.40