In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('note.csv')
df = df.reset_index()

In [3]:
df.keys()

Index([u'index', u'nume', u'judet8', u'scoala', u'media la admitere',
       u'media teze nationale', u'media de absolvire', u'nota la limba romana',
       u'nota la matematica', u'optional8', u'optional8 nota',
       u'limba materna8', u'limba materna8 nota',
       u'pozitia in ierarhie pe judet', u'pozitia in ierarhie pe tara',
       u'unitatea de invatamant', u'judetul', u'promotie anterioara',
       u'forma invatamant', u'specializare', u'romana oral', u'romana nota',
       u'romana contestatie', u'romana final', u'limba materna',
       u'materna oral', u'materna nota', u'materna contestatie',
       u'materna final', u'limba moderna', u'limba moderna nota',
       u'disciplina profil', u'disciplina profil nota',
       u'disciplina profil contestatie', u'disciplina profil final',
       u'optional', u'optional nota', u'optional contestatie',
       u'optional final', u'competente digitale', u'media',
       u'rezultatul final'],
      dtype='object')

In [4]:
df.shape

(10112, 42)

In [5]:
df.head()

,index,nume,judet8,scoala,media la admitere,media teze nationale,media de absolvire,nota la limba romana,nota la matematica,optional8,...,disciplina profil nota,disciplina profil contestatie,disciplina profil final,optional,optional nota,optional contestatie,optional final,competente digitale,media,rezultatul final
0,0,cireap p. florin,BIHOR,SC.CU CLS.I-VIII PIETROASA,9.32,9.10,9.54,8.17,9.45,Geografie,...,3.30,NaN,3.30,"Anatomie si fiziologie umana, genetica si ecol...",6.60,NaN,6.60,Avansat,5.07,Respins
1,1,gabor i. ionut darius,BIHOR,"SC.CU CLS.I-VIII ""N.POPOVICIU"" BEIUS",9.12,8.63,9.62,8.30,8.00,Geografie,...,1.55,NaN,1.55,"Anatomie si fiziologie umana, genetica si ecol...",7.55,NaN,7.55,Mediu,5.60,Respins
2,2,bogan s. sebastian doru,BIHOR,SC.CU CLS.I-VIII CALUGARI,8.71,7.90,9.52,7.62,6.97,Geografie,...,2.80,2.3,2.30,"Anatomie si fiziologie umana, genetica si ecol...",6.70,NaN,6.70,Mediu,5.40,Respins
3,3,apati m. mihai bogdan,BIHOR,SC.CU CLS.I-VIII CARASAU,8.36,8.21,8.51,7.30,7.95,Geografie,...,3.85,4.2,3.85,"Anatomie si fiziologie umana, genetica si ecol...",6.30,NaN,6.30,Mediu,5.05,Respins
4,4,filip g. flaviu georgian,BIHOR,"LICEUL PEDAGOGIC ""N.BOLCAS"" BEIUS",8.31,7.73,8.89,6.40,8.72,Istorie,...,3.65,3.4,3.65,"Anatomie si fiziologie umana, genetica si ecol...",8.60,NaN,8.60,Avansat,6.40,Respins

In [6]:
df['romana final']

0        5.30
1        7.70
2        7.20
3        5.00
4        6.95
5        3.80
6        5.00
7        6.20
8        7.10
9        6.60
10       5.00
11       5.70
12       3.95
13       7.50
14       5.00
15       5.00
16       6.20
17       5.10
18       2.40
19       6.00
20       5.00
21       3.25
22       5.00
23       3.80
24       6.50
25       7.75
26       6.45
27       7.50
28       5.00
29       3.80
         ...
10082    9.40
10083    7.45
10084    8.65
10085    8.00
10086    6.50
10087    9.60
10088    7.90
10089    9.10
10090    6.85
10091    6.15
10092    5.00
10093    5.10
10094    8.40
10095    8.55
10096    9.75
10097    8.85
10098    5.70
10099    6.00
10100    7.20
10101    3.50
10102    8.00
10103    9.50
10104    8.00
10105    8.60
10106    9.20
10107    8.85
10108    7.55
10109    5.05
10110    7.10
10111    9.40
Name: romana final, Length: 10112, dtype: float64

In [7]:
df['nota la limba romana']

0         8.17
1         8.30
2         7.62
3         7.30
4         6.40
5         5.35
6         5.05
7         6.50
8         7.20
9         7.70
10        6.55
11        5.05
12        7.07
13        4.50
14        5.85
15        6.55
16        6.00
17        5.42
18        6.40
19        5.55
20        5.52
21        6.35
22        6.05
23        4.80
24        6.60
25        6.72
26        7.90
27        7.50
28        5.90
29        6.17
         ...
10082    10.00
10083     9.55
10084     9.30
10085     9.80
10086     8.40
10087     7.55
10088     7.87
10089     7.92
10090     8.15
10091     6.97
10092     6.62
10093     4.02
10094     9.35
10095     8.95
10096     9.10
10097     8.75
10098     8.35
10099     8.82
10100     8.75
10101     8.50
10102     9.15
10103     9.45
10104     9.10
10105     8.02
10106     9.00
10107     7.12
10108     7.20
10109     8.15
10110     8.35
10111     8.45
Name: nota la limba romana, Length: 10112, dtype: float64

In [8]:
X = df['nota la limba romana'].values.reshape(-1,1)  
Y = df['romana final'].values.reshape(-1,1)

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20)

In [10]:
regressor = LinearRegression()  
regressor.fit(X_train, Y_train) #training the algorithm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [11]:
Y_pred = regressor.predict(X_test)

In [12]:
mean_squared_error(Y_test, Y_pred)

2.1848054234977883

In [13]:
mean_absolute_error(Y_test, Y_pred)

1.1489675859428168

In [14]:
regressor.score(X_test, Y_test)

0.4621613431897392

In [15]:
res = pd.DataFrame({'Note evaluare':X_test.ravel(), 'Predicted':Y_pred.flatten(), 'Actual': Y_test.flatten()})
res

      Actual  Note evaluare  Predicted
0       7.25           9.05   8.494115
1       6.80           4.92   4.836411
2       6.20           8.50   8.007012
3       5.95           5.47   5.323514
4       8.50           8.50   8.007012
5       3.90           2.80   2.958848
6       6.35           4.77   4.703564
7       5.65           5.30   5.172955
8       8.20           7.92   7.493339
9       9.45           8.55   8.051294
10      6.00           8.55   8.051294
11      9.40           9.65   9.025501
12      5.00           4.70   4.641569
13      9.25           9.57   8.954650
14      7.80           7.67   7.271928
15      8.20           9.65   9.025501
16      5.00           6.50   6.235726
17      8.40           8.30   7.829883
18      5.40           7.77   7.360493
19      7.30           6.25   6.014316
20      5.60           6.12   5.899182
21      7.75           7.72   7.316211
22      9.20           8.02   7.581903
23      6.00           8.50   8.007012
24      7.50           7.85   7.431344
25      8.95           9.17   8.600393
26      8.40           7.90   7.475626
27      6.40           5.92   5.722054
28      9.40           8.72   8.201853
29      9.40           8.75   8.228423
...      ...            ...        ...
1993    8.20           8.70   8.184140
1994    9.60           9.87   9.220343
1995    7.85           8.47   7.980443
1996    9.30           8.17   7.714750
1997    5.00           7.00   6.678548
1998    2.60           4.85   4.774416
1999    8.25           7.30   6.944241
2000    7.60           9.75   9.114065
2001    5.30           7.32   6.961953
2002    6.75           7.65   7.254216
2003    6.25           8.12   7.670468
2004    7.10           7.85   7.431344
2005    1.20           5.25   5.128673
2006    6.60           4.55   4.508723
2007    8.75           8.12   7.670468
2008    8.10           8.95   8.405551
2009    6.10           6.40   6.147162
2010    3.80           4.35   4.331594
2011    3.20           2.77   2.932279
2012    6.75           7.70   7.298498
2013    9.75           9.20   8.626962
2014    8.40           8.60   8.095576
2015    7.50           7.22   6.873389
2016    7.20           8.85   8.316987
2017    7.00           6.35   6.102880
2018    2.45           3.85   3.888773
2019    5.50           5.07   4.969257
2020    6.10           5.77   5.589207
2021    6.20           5.42   5.279232
2022    7.15           7.32   6.961953

[2023 rows x 3 columns]

In [16]:
#To retrieve the intercept:
print(regressor.intercept_)

[0.47904843]

In [17]:








#QUESTION

#Knowing the intercept and the data in the table, how can we calculate the coefficent?
#







































(res['Predicted']-regressor.intercept_)/res['Note evaluare']

0       0.885643
1       0.885643
2       0.885643
3       0.885643
4       0.885643
5       0.885643
6       0.885643
7       0.885643
8       0.885643
9       0.885643
10      0.885643
11      0.885643
12      0.885643
13      0.885643
14      0.885643
15      0.885643
16      0.885643
17      0.885643
18      0.885643
19      0.885643
20      0.885643
21      0.885643
22      0.885643
23      0.885643
24      0.885643
25      0.885643
26      0.885643
27      0.885643
28      0.885643
29      0.885643
          ...
1993    0.885643
1994    0.885643
1995    0.885643
1996    0.885643
1997    0.885643
1998    0.885643
1999    0.885643
2000    0.885643
2001    0.885643
2002    0.885643
2003    0.885643
2004    0.885643
2005    0.885643
2006    0.885643
2007    0.885643
2008    0.885643
2009    0.885643
2010    0.885643
2011    0.885643
2012    0.885643
2013    0.885643
2014    0.885643
2015    0.885643
2016    0.885643
2017    0.885643
2018    0.885643
2019    0.885643
2020    0.885643
2021    0.885643
2022    0.885643
Length: 2023, dtype: float64

In [18]:

print(regressor.coef_)

[[0.88564277]]

In [19]:
#####ONLY IF THERE IS TIME



avg = df['nota la limba romana'].mean()
df['nota la limba romana'] = avg
X = df['nota la limba romana'].values.reshape(-1,1)  
Y = df['romana final'].values.reshape(-1,1) 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20) 
regressor = LinearRegression()  
regressor.fit(X_train, Y_train) #training the algorithm
Y_pred = regressor.predict(X_test)

In [22]:
mean_squared_error(Y_test, Y_pred)

4.237260410233339

In [21]:
mean_absolute_error(Y_test, Y_pred)

1.7164313874190167