In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv('evaluare.csv')

In [7]:
df2 = pd.read_csv('12-07_orig.csv')

In [8]:
df2.head()

,Nume,Poziția în ierarhie pe județ,Poziția în ierarhie pe țară,Unitatea de învățământ,Județul,Promotie anterioară,Forma învățământ,Specializare,Limba și literatura română Competențe,Limba și literatura română Scris,...,Disciplina obligatorie a profilului Nota,Disciplina obligatorie a profilului Contestație,Disciplina obligatorie a profilului Nota finală,Disciplina la alegere,Disciplina la alegere Nota,Disciplina la alegere Contestație,Disciplina la alegere Nota finală,Competențe digitale,Media,Rezultatul final
0,A. Anei G. Ana Maria,1111,37997,"Colegiul National ""Stefan Cel Mare"" Tirgu Neamt",NT,Nu,Zi,Matematica-Informatica,Experimentat,8.85,...,5.60,NaN,5.60,"Anatomie si fiziologie umana, genetica si ecol...",8.85,NaN,8.85,Avansat,7.77,Reușit
1,A-Anei I. Flaviu-Octavian,1062,40643,"Liceul De Arte Plastice ""Hans Mattis-Teutsch"" ...",BV,Nu,Zi,"Arhitectura, arte ambientale si design",Avansat,6.30,...,7.15,NaN,7.15,Geografie,9.50,NaN,9.50,Experimentat,7.65,Reușit
2,Aanegroae S. C. Ana-Maria,57,2206,"Colegiul National ""Petru Rares"" Piatra Neamt",NT,Nu,Zi,Matematica-Informatica,Experimentat,8.40,...,9.70,NaN,9.70,Fizica,9.55,NaN,9.55,Experimentat,9.60,Reușit
3,Aanei G. Alexandru,754,24312,"Colegiul National ""Ferdinand I"" Bacau",BC,Nu,Zi,Matematica-Informatica,Experimentat,8.60,...,8.00,NaN,8.00,Informatica T1 C/C++,8.50,NaN,8.50,Experimentat,8.37,Reușit
4,Aanei I. Ana Maria,2626,93520,"Colegiul Tehnic ""Gheorghe Cartianu"" Piatra Neamt",NT,Nu,Zi,Tehnician desenator pentru constructii si inst...,Experimentat,5.60,...,3.20,3.15,3.20,Biologie vegetala si animala T1,7.70,NaN,7.70,Experimentat,5.50,Respins

In [9]:
df.head()

,Unnamed: 0,Nume,Unnamed: 2,SCOALA,Media la admitere,Media teze nationale,Media de absolvire,Nota la limba romana,Nota la matematica,OPTIONAL8,OPTIONAL8 NOTA,Limba materna8,Limba materna8 nota
0,NaN,SZABO E. CSILLA REKA,CLUJ,SCOALA CU CLASELE I-VIII NR. 1 DEJ,9.87,9.75,10.00,9.67,9.35,Geografie,10.0,Maghiara,10
1,NaN,KEGYES I. KRISZTINA TIMEA,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.69,9.45,9.93,8.97,9.95,Istorie,9.8,Maghiara,9.07
2,NaN,FULOP BALOGH A. BEATRIX EMOKE,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.66,9.35,9.97,8.42,9.90,Istorie,9.5,Maghiara,9.57
3,NaN,DEAK I. NORBERT,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.60,9.24,9.97,7.85,10.00,Istorie,10.0,Maghiara,9.12
4,NaN,BALOGH E. IMOLA RENATA,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.53,9.45,9.62,8.87,9.57,Istorie,9.8,Maghiara,9.55

In [18]:
df.shape

(585, 13)

In [ ]:
df.Nume[df]

In [13]:
df.Nume = df.Nume.str.lower()
df2.Nume = df2.Nume.str.lower()

In [14]:
df.Nume = df.Nume.str.strip()
df2.Nume = df2.Nume.str.strip()

In [15]:
df.head()

,Unnamed: 0,Nume,Unnamed: 2,SCOALA,Media la admitere,Media teze nationale,Media de absolvire,Nota la limba romana,Nota la matematica,OPTIONAL8,OPTIONAL8 NOTA,Limba materna8,Limba materna8 nota
0,NaN,szabo e. csilla reka,CLUJ,SCOALA CU CLASELE I-VIII NR. 1 DEJ,9.87,9.75,10.00,9.67,9.35,Geografie,10.0,Maghiara,10
1,NaN,kegyes i. krisztina timea,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.69,9.45,9.93,8.97,9.95,Istorie,9.8,Maghiara,9.07
2,NaN,fulop balogh a. beatrix emoke,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.66,9.35,9.97,8.42,9.90,Istorie,9.5,Maghiara,9.57
3,NaN,deak i. norbert,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.60,9.24,9.97,7.85,10.00,Istorie,10.0,Maghiara,9.12
4,NaN,balogh e. imola renata,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.53,9.45,9.62,8.87,9.57,Istorie,9.8,Maghiara,9.55

In [16]:
s1 = pd.merge(df, df2, how='inner', on=['Nume'])

In [17]:
s1.head()

,Unnamed: 0,Nume,Unnamed: 2,SCOALA,Media la admitere,Media teze nationale,Media de absolvire,Nota la limba romana,Nota la matematica,OPTIONAL8,...,Disciplina obligatorie a profilului Nota,Disciplina obligatorie a profilului Contestație,Disciplina obligatorie a profilului Nota finală,Disciplina la alegere,Disciplina la alegere Nota,Disciplina la alegere Contestație,Disciplina la alegere Nota finală,Competențe digitale,Media,Rezultatul final
0,NaN,deak i. norbert,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.60,9.24,9.97,7.85,10.00,Istorie,...,10.00,NaN,10.00,Informatica T1 Pascal,9.85,NaN,9.85,Experimentat,9.03,Reușit
1,NaN,kovacs p. kinga,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.45,9.21,9.69,7.90,9.55,Istorie,...,9.30,NaN,9.30,"Anatomie si fiziologie umana, genetica si ecol...",10.00,NaN,10.00,Experimentat,8.96,Reușit
2,NaN,kovacs p. kinga,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.45,9.21,9.69,7.90,9.55,Istorie,...,8.85,NaN,8.85,Geografie,8.35,NaN,8.35,Mediu,8.56,Reușit
3,NaN,kispal z. timea,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.34,8.98,9.70,8.35,9.57,Istorie,...,9.15,NaN,9.15,Informatica T1 Pascal,9.50,NaN,9.50,Experimentat,9.10,Reușit
4,NaN,debreczeni i. istvan,CLUJ,"LICEUL TEORETIC ""BATHORY ISTVAN"" CLUJ-NAPOCA",9.07,8.56,9.58,7.37,8.95,Geografie,...,6.95,NaN,6.95,Chimie anorganica T2 Nivel I,9.00,NaN,9.00,Avansat,8.51,Reușit