In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('note.csv')

In [3]:
df.keys()

Index([u'nume', u'judet8', u'scoala', u'media la admitere',
       u'media teze nationale', u'media de absolvire', u'nota la limba romana',
       u'nota la matematica', u'optional8', u'optional8 nota',
       u'limba materna8', u'limba materna8 nota',
       u'pozitia in ierarhie pe judet', u'pozitia in ierarhie pe tara',
       u'unitatea de invatamant', u'judetul', u'promotie anterioara',
       u'forma invatamant', u'specializare', u'romana oral', u'romana nota',
       u'romana contestatie', u'romana final', u'limba materna',
       u'materna oral', u'materna nota', u'materna contestatie',
       u'materna final', u'limba moderna', u'limba moderna nota',
       u'disciplina profil', u'disciplina profil nota',
       u'disciplina profil contestatie', u'disciplina profil final',
       u'optional', u'optional nota', u'optional contestatie',
       u'optional final', u'competente digitale', u'media',
       u'rezultatul final'],
      dtype='object')

In [4]:
df.shape

(10237, 41)

In [5]:
df.head()

,nume,judet8,scoala,media la admitere,media teze nationale,media de absolvire,nota la limba romana,nota la matematica,optional8,optional8 nota,...,disciplina profil nota,disciplina profil contestatie,disciplina profil final,optional,optional nota,optional contestatie,optional final,competente digitale,media,rezultatul final
0,cireap p. florin,BIHOR,SC.CU CLS.I-VIII PIETROASA,9.32,9.10,9.54,8.17,9.45,Geografie,9.7,...,3.30,NaN,3.30,"Anatomie si fiziologie umana, genetica si ecol...",6.60,NaN,6.60,Avansat,5.07,Respins
1,gabor i. ionut darius,BIHOR,"SC.CU CLS.I-VIII ""N.POPOVICIU"" BEIUS",9.12,8.63,9.62,8.30,8.00,Geografie,9.6,...,1.55,NaN,1.55,"Anatomie si fiziologie umana, genetica si ecol...",7.55,NaN,7.55,Mediu,5.60,Respins
2,bogan s. sebastian doru,BIHOR,SC.CU CLS.I-VIII CALUGARI,8.71,7.90,9.52,7.62,6.97,Geografie,9.1,...,2.80,2.3,2.30,"Anatomie si fiziologie umana, genetica si ecol...",6.70,NaN,6.70,Mediu,5.40,Respins
3,apati m. mihai bogdan,BIHOR,SC.CU CLS.I-VIII CARASAU,8.36,8.21,8.51,7.30,7.95,Geografie,9.4,...,3.85,4.2,3.85,"Anatomie si fiziologie umana, genetica si ecol...",6.30,NaN,6.30,Mediu,5.05,Respins
4,filip g. flaviu georgian,BIHOR,"LICEUL PEDAGOGIC ""N.BOLCAS"" BEIUS",8.31,7.73,8.89,6.40,8.72,Istorie,8.07,...,3.65,3.4,3.65,"Anatomie si fiziologie umana, genetica si ecol...",8.60,NaN,8.60,Avansat,6.40,Respins

In [6]:
df['romana final']

0        5.30
1        7.70
2        7.20
3        5.00
4        6.95
5        3.80
6        5.00
7        6.20
8        7.10
9        6.60
10       5.00
11       5.70
12       3.95
13       7.50
14       5.00
15       5.00
16       6.20
17       5.10
18       2.40
19       6.00
20       5.00
21       3.25
22       5.00
23       3.80
24       6.50
25       7.75
26       6.45
27       7.50
28       5.00
29       3.80
         ...
10207    9.40
10208    7.45
10209    8.65
10210    8.00
10211    6.50
10212    9.60
10213    7.90
10214    9.10
10215    6.85
10216    6.15
10217    5.00
10218    5.10
10219    8.40
10220    8.55
10221    9.75
10222    8.85
10223    5.70
10224    6.00
10225    7.20
10226    3.50
10227    8.00
10228    9.50
10229    8.00
10230    8.60
10231    9.20
10232    8.85
10233    7.55
10234    5.05
10235    7.10
10236    9.40
Name: romana final, Length: 10237, dtype: float64

In [7]:
df['nota la limba romana']

0         8.17
1         8.30
2         7.62
3         7.30
4         6.40
5         5.35
6         5.05
7         6.50
8         7.20
9         7.70
10        6.55
11        5.05
12        7.07
13        4.50
14        5.85
15        6.55
16        6.00
17        5.42
18        6.40
19        5.55
20        5.52
21        6.35
22        6.05
23        4.80
24        6.60
25        6.72
26        7.90
27        7.50
28        5.90
29        6.17
         ...
10207    10.00
10208     9.55
10209     9.30
10210     9.80
10211     8.40
10212     7.55
10213     7.87
10214     7.92
10215     8.15
10216     6.97
10217     6.62
10218     4.02
10219     9.35
10220     8.95
10221     9.10
10222     8.75
10223     8.35
10224     8.82
10225     8.75
10226     8.50
10227     9.15
10228     9.45
10229     9.10
10230     8.02
10231     9.00
10232     7.12
10233     7.20
10234     8.15
10235     8.35
10236     8.45
Name: nota la limba romana, Length: 10237, dtype: float64

In [8]:
X = df['nota la limba romana'].values.reshape(-1,1)  
Y = df['romana final'].values.reshape(-1,1)

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20)

In [10]:
regressor = LinearRegression()  
regressor.fit(X_train, Y_train) #training the algorithm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [11]:
Y_pred = regressor.predict(X_test)

In [12]:
mean_squared_error(Y_test, Y_pred)

2.3125354976199386

In [13]:
mean_absolute_error(Y_test, Y_pred)

1.1820055979847126

In [14]:
regressor.score(X_test, Y_test)

0.4831713329871247

In [15]:
res = pd.DataFrame({'Note evaluare':X_test.ravel(), 'Predicted':Y_pred.flatten(), 'Actual': Y_test.flatten()})
res

      Actual  Note evaluare  Predicted
0       8.80           9.00   8.429806
1       6.05           8.82   8.269685
2       8.05           7.17   6.801912
3       6.45           7.90   7.451290
4       3.90           6.67   6.357133
5       5.95           5.92   5.689963
6       5.85           4.95   4.827091
7      10.00           8.75   8.207416
8       5.00           3.60   3.626186
9       5.25           3.50   3.537230
10      8.50           8.77   8.225207
11      6.10           7.05   6.695165
12      8.80           9.12   8.536553
13     10.00           9.10   8.518761
14      8.80           7.52   7.113258
15      6.15           8.25   7.762636
16      9.35           9.75   9.096975
17      9.20           9.67   9.025810
18      6.80           6.35   6.072474
19      9.95          10.00   9.319365
20      8.80           7.80   7.362335
21      6.00           4.00   3.982010
22      8.50           7.25   6.873077
23      3.70           7.20   6.828599
24      2.70           5.67   5.467574
25      8.20           8.15   7.673680
26      6.50           8.30   7.807114
27      5.00           9.45   8.830107
28      5.00           5.42   5.245184
29      6.45           8.25   7.762636
...      ...            ...        ...
2018    6.65           7.00   6.650687
2019    1.30           6.82   6.490567
2020    8.60           9.00   8.429806
2021    3.10           6.67   6.357133
2022    7.70           5.67   5.467574
2023    8.10           8.87   8.314163
2024    6.95           5.37   5.200706
2025    9.05           7.92   7.469082
2026    9.10           8.15   7.673680
2027   10.00           9.82   9.159244
2028    0.00           5.20   5.049481
2029    9.40           8.35   7.851592
2030    6.35           6.50   6.205908
2031    9.40           8.90   8.340850
2032    5.00           5.60   5.405304
2033    1.80           5.65   5.449782
2034    0.00           6.57   6.268177
2035    5.10           5.85   5.627694
2036    5.00           5.55   5.360826
2037   10.00           9.75   9.096975
2038    7.50           6.82   6.490567
2039   10.00           9.12   8.536553
2040    9.30           8.87   8.314163
2041    1.75           5.40   5.227393
2042    3.45           3.87   3.866367
2043    6.20           6.22   5.956831
2044    5.85           8.12   7.646994
2045    2.70           3.10   3.181407
2046    9.60           9.50   8.874585
2047    9.30           9.62   8.981332

[2048 rows x 3 columns]

In [16]:
#To retrieve the intercept:
print(regressor.intercept_)

[0.42377319]

In [17]:








#QUESTION

#Knowing the intercept and the data in the table, how can we calculate the coefficent?
#







































(res['Predicted']-regressor.intercept_)/res['Note evaluare']

0       0.889559
1       0.889559
2       0.889559
3       0.889559
4       0.889559
5       0.889559
6       0.889559
7       0.889559
8       0.889559
9       0.889559
10      0.889559
11      0.889559
12      0.889559
13      0.889559
14      0.889559
15      0.889559
16      0.889559
17      0.889559
18      0.889559
19      0.889559
20      0.889559
21      0.889559
22      0.889559
23      0.889559
24      0.889559
25      0.889559
26      0.889559
27      0.889559
28      0.889559
29      0.889559
          ...
2018    0.889559
2019    0.889559
2020    0.889559
2021    0.889559
2022    0.889559
2023    0.889559
2024    0.889559
2025    0.889559
2026    0.889559
2027    0.889559
2028    0.889559
2029    0.889559
2030    0.889559
2031    0.889559
2032    0.889559
2033    0.889559
2034    0.889559
2035    0.889559
2036    0.889559
2037    0.889559
2038    0.889559
2039    0.889559
2040    0.889559
2041    0.889559
2042    0.889559
2043    0.889559
2044    0.889559
2045    0.889559
2046    0.889559
2047    0.889559
Length: 2048, dtype: float64

In [18]:

print(regressor.coef_)

[[0.88955915]]

In [19]:
#####ONLY IF THERE IS TIME



avg = df['nota la limba romana'].mean()
df['nota la limba romana'] = avg
X = df['nota la limba romana'].values.reshape(-1,1)  
Y = df['romana final'].values.reshape(-1,1) 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20) 
regressor = LinearRegression()  
regressor.fit(X_train, Y_train) #training the algorithm
Y_pred = regressor.predict(X_test)

In [20]:
mean_squared_error(Y_test, Y_pred)

4.331010644494659

In [21]:
mean_absolute_error(Y_test, Y_pred)

1.7223470197969457